<form action="/multiply" method="POST">
  <label for="numblers">Numblers:</label>

  <p><input type="text" name="number1" id="number1" /></p>
  <p><input type="text" name="number2" id="number2" /></p>

  <input type="submit" value="Submit"/>
</form>
