<form action="/multiply" method="POST">
  <label for="numbler">Numbler:</label>

  <p><input type="text" name="number1" id="number1" /></p>
  <p><input type="text" name="number1" id="number1" /></p>

  <input type="submit" value="Submit"/>
</form>
